AI ChatBot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -40
      ],
      "id": "21b41967-25fa-4d98-b023-b536b8c5c668",
      "name": "Telegram Trigger",
      "webhookId": "835ddfba-fbf3-408c-b173-07b548f6a4d3",
      "credentials": {
        "telegramApi": {
          "id": "V4rLAuzVzHNmh3O7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"message\"][\"text\"]}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        -40
      ],
      "id": "bb5978d2-3a3b-4ce8-85ef-295d1a805dc8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "cognitivecomputations/dolphin3.0-mistral-24b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        340
      ],
      "id": "8f8f885d-b122-4b15-ba4e-1d34cab129cc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xrsjjrYLVRRTaGy7",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        -40
      ],
      "id": "2a2359f9-4c91-4f23-94ec-5d68001b1c48",
      "name": "Send a text message",
      "webhookId": "0bc3adfc-478f-4c60-b4b5-b56908ce3c9a",
      "credentials": {
        "telegramApi": {
          "id": "V4rLAuzVzHNmh3O7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        220
      ],
      "id": "ec2ed392-3dc1-40a2-b562-499b66eeb48b",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "907a5c42-fd03-4dcb-a943-e81104aa3420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7041d3ae98e2d67d1788ff5c2d2dc0493a2ceb48808d3a5fd5bbfb313b3601b"
  },
  "id": "kZj9QblbUTGsEeYE",
  "tags": []
}